*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

# LaTex doc
*.pdf
!agh.pdf
*.aux
*.bbl
*.blg
*.log
*.synctex.gz
*.fdb_latexmk
*.fls
